venv
.ipynb_checkpoints
data_4gr
ICBHI_Dataset
Dataset_ICBHI_Log-Melspec
*.jpg
*.png
*.mat
checkpoint
HF_Lung_V1
flagged
demo_audio
feature
output_segments
*.pth
*.pkl
__pycache__
*.wav
run_command.ipynb
.vscode/
*.zip
